<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Redis Messages</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <h1><span th:text="${searchUser}"></span>'s Cached Messages</h1>
    <table class="table">
        <thead class="black white-text">
        <tr>
            <th>ID</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message: ${userMessages}">
            <td th:text="${message.key}" />
            <td th:text="${message.value}" />
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>